<h1><%= @merchant[:attributes][:name] %>'s Show Page</h1>
<br>
<ul id='items'>
  <h3><%= @merchant[:attributes][:name] %>'s Items</h3>
    <% @items.each do |item| %>
      <li><%= item[:attributes][:name] %></li>
    <% end %>
</ul>